<html layout:decorate="~{layout}">
<div layout:fragment="content" class="container my-3">


	<!-- <h1 th:text="${infomation.subject}"></h1>
	<div th:text="${infomation.content}"></div>
	<img th:src="|${downpath}/${infomation.image1}|"> -->
	
	<!-- 이미지 1 -->
	<img th:if="${infomation.image1 != null}" th:src="|${downpath}/${infomation.image1}|" alt="Image 1" class="img-fluid my-2">

    <!-- 이미지 2 -->
    <img th:if="${infomation.image2 != null}" th:src="|${downpath}/${infomation.image2}|" alt="Image 2" class="img-fluid my-2">

    <!-- 이미지 3 -->
    <img th:if="${infomation.image3 != null}" th:src="|${downpath}/${infomation.image3}|" alt="Image 3" class="img-fluid my-2">
	
	<a th:href="@{|/infomation/delete/${infomation.id}|}" class="btn btn-danger">삭제</a>
	<a th:href="@{|/infomation/update/${infomation.id}|}" class="btn btn-primary">수정</a>
	
	<h5 th:text="|${#lists.size(infomation.answerList)}개의 답변이 있습니다.|"></h5>
	 <ul>
        <li th:each="answer : ${infomation.answerList}" th:text="${answer.content}"></li>
    </ul>
    
	
	<form th:action="@{|/answer/create/${infomation.id}|}" method="post">
    <textarea name="content" id="content" rows="15"></textarea>
    <input type="submit" value="답변등록">
	</form>
	
	
	
	
</div>
</html>