:root {
    /** 기본 제공 색상 **/
    --dark-gray: #1A1C20;
    --light-beige: #FCF1F1;
    --light-pink: #FFD5CD;
    --vivid-orange: #F9813A;
    /** 회색 계열 색상 추가 **/
    --medium-gray: #606060;
    --soft-gray: #A9A9A9;
    --very-light-gray: #E5E5E5;
    /** 베이지 계열 색상 추가 **/
    --medium-beige: #F5E8E8;
    --dark-beige: #E0C4C4;
    --warm-beige: #FFF5F0;
    /** 핑크 계열 색상 추가 **/
    --vibrant-pink: #FFA6C9;
    --deep-pink: #FF748E;
    --pale-pink: #FFE4E1;
    /** 오랜지 계열 색상 추가 **/
    --burnt-orange: #CC6A21;
    --peach-orange: #FFAD60;
    --pale-orange: #FFE0B2;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: var(--medium-beige);
}

.navbar-light-beige {
    background-color: var(--light-beige);
}

.navbar {
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar-nav .nav-link {
    color: var(--dark-gray);
    margin-right: 15px;
}

.navbar-nav .nav-link:hover {
    color: var(--vivid-orange);
}

.nav-item.dropdown .dropdown-menu {
    margin-top: 0;
}

.dropdown-menu .dropdown-item {
    color: var(--dark-gray);
}

.dropdown-menu .dropdown-item:hover {
    background-color: var(--vivid-orange);
    color: var(--light-beige);
}

.logo {
    flex: 0 1 auto;
    width:33%
}

.navbar-nav-center {
    display: grid;
    place-items: center;
    flex: 1;
    width:33%
}

.navbar-nav:last-child {
    display: flex;
    justify-content: flex-end;
    width : 33%;
    flex: 0 1 auto;
}
.navbar-custom-size-sm{
    font : 10px "Helvetica Neue", Helvetica, Arial, sans-serif;
    width : 33%
}


.carousel {
    height: 100vh;
}

.carousel-inner {
    height: 100%;
}

.carousel-item {
    height: 100%;
}

.carousel-img {
    height: 100%;
    object-fit: cover;
    width: 100%;
}
