<div th:fragment="login-modal">
    <div id="loginModal" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">로그인 필요</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>이 기능을 사용하기 위해서는 로그인이 필요합니다.</p>
                </div>
                <div class="modal-footer">
                    <a href="/user/login" class="btn btn-primary">로그인 페이지로 이동</a>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">닫기</button>
                </div>
            </div>
        </div>
        <script>
            document.addEventListener('DOMContentLoaded', function() {
                document.querySelectorAll('.protected-action').forEach(item => {
                    item.addEventListener('click', function(e) {
                        e.preventDefault();
                        fetch('/user/check-authentication', {
                            headers: {
                                'Accept': 'application/json'
                            }
                        })
                            .then(response => response.json())
                            .then(data => {
                                if (data.isAuthenticated) {
                                    window.location.href = e.target.href;
                                } else {
                                    $('#loginModal').modal('show');
                                }
                            })
                            .catch(error => {
                                console.error("Error fetching authentication status", error);
                            });
                    });
                });
            });

        </script>
    </div>
</div>