@font-face {
    font-family: 'GowunBatang-Regular';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/GowunBatang-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

<!--눈누 폰트-->


/* 기본 스타일 */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}

/* 헤더 스타일 */
header {
    background-color: #333;
    color: white;
    padding: 10px 0;
    text-align: center;
}

header h1 {
    margin: 0;
}

header nav ul {
    list-style: none;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin: 0 15px;
}

header nav ul li a {
    color: white;
    text-decoration: none;
}


.filters {
    display: flex;
    justify-content: center;
    align-items: center; /* 세로 정렬 가운데 */
    padding: 20px 0;
    background-color: #efefef;
    margin-bottom: 20px;
}

.filters h1 {
    margin-right: 30px;
    font-family: 'GowunBatang-Regular', sans-serif; /* 헤더에만 폰트 적용 */

}

.filters select {
    margin: 0 10px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

/* 컨테이너 스타일 */
.container-medium {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

/* 프로젝트 리스트 스타일 */
.project-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: flex-start; /* 왼쪽 정렬 */
}

.project-item {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: calc(25% - 20px); /* 네 개씩 정렬되도록 설정 */
    margin-bottom: 20px;
    overflow: hidden;
    transition: transform 0.2s;
    box-sizing: border-box; /* padding과 border를 width에 포함 */
}

.project-item:hover {
    transform: scale(1.05);
}

.project-item img {
    width: 100%;
    height: auto;
    border-bottom: 1px solid #ddd;
}

.project-item h2 {
    font-size: 1.2em;
    margin: 10px;
}

.project-item p {
    margin: 10px;
    color: #555;
}

.project-item p:last-child {
    color: #888;
}

.like-icon {
    cursor: pointer;
    font-size: 35px;
    color: #888;
    transition: font-size 0.3s;
}

.like-icon.liked {
    color: #e74c3c;
    font-size: 40px; /* 크기 증가 */
}

.like-container {
    position: absolute;
    top: 10px;
    padding: 10px;
}

.text-container {
    position: relative;
    padding: 10px;
}

.text-container .like-container {
    position: absolute;
    top: 0;
    right: 0;
}

.register-button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: #386fa5;
    border: none;
    border-radius: 25px; /* 둥근 모서리 */
    cursor: pointer;
    transition: background-color 0.3s;
    margin: 20px 0;
}

.register-button:hover {
    background-color: #0056b3;
}

.filter-button {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    color: #333;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 25px; /* 둥근 모서리 */
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s, box-shadow 0.3s;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.filter-button:hover {
    background-color: #f0f0f0;
    border-color: #bbb;
}

.filter-button.active {
    background-color: #007bff;
    color: white;
    border-color: #007bff;
}

.filter-dropdown {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    min-width: 160px;
    background-color: white;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 10px; /* 둥근 모서리 */
    border: 1px solid #ddd;
    padding: 10px 0;
}

.filter-button:hover .filter-dropdown {
    display: block;
}

.filter-dropdown a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    transition: background-color 0.3s;
}

.filter-dropdown a:hover {
    background-color: #f0f0f0;
}
