.custom-navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 5rem;
  z-index: 1030;
  display: flex;
  justify-content: space-between;
  padding: 0 1rem;
  background-color: #FCF1F1;
  border-bottom: 3px solid #FFAD60;
}
.navbar-toggler{
  display:none;
}
.navbar-logo {
  height: 60px;
}

.nav-link {
  color: #333;
  padding: 10px;
  margin-right: 30px;
}
.nav-link:hover{
  color : var(--vivid-orange);
}
.nav-link:last-child {
  margin-right: 0;
}

.navbar-light-beige {
  background-color: var(--light-beige);
  color: var(--light-beige);
}

.navbar-brand{
  width:20%;
}
.navbar-nav-center,
.navbar-nav-right {
  flex: 1
}
.navbar-nav-center {
  display: flex;
  justify-content: center;
  flex-basis: 65%;
  text-align: center;
}

.navbar-nav-right {
  display: flex;
  justify-content: flex-end;
  flex-basis: 20%;
}
@media (max-width: 991px) {
  .navbar-toggler {
    display: block;
  }
  .collapse {
    display: none;
  }
  .navbar-expand-lg {
    flex-direction: column;
  }
}
.hero-section{
  background-image: url("/images/hero-background.png");
  background-size: cover;
  background-position: center;
  height: 100vh;
}
.hero-content{
  color: var(--dark-gray);
  text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
  text-align: center;
}
.hero-content h1{
  font-size:48px;
}
.hero-content p{
  font-size:24px;
  margin-top:20px;
}
.overlay{
  background: rgba(255,255,255,0.45);
  height: 100%;
  width: 100%;
  position: absolute;
}
.faq-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px;
  background-color: #FFF0F0;
}
.faq-text,.faq-image{
  display:flex;
  flex: 1;
  box-sizing: border-box;
}
.faq-text {
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  margin-right: 2%;
}
.custom-faq-button {
  background-color: #E0C4C4;
  color: #FFFFFF;
  padding: 10px 20px;
  border-radius: 5px;
  margin-top: 20px;
  width:auto;
  display :inline-block;
}
.faq-image {
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.faq-image img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
}
.board-section {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}
.board-header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}
.board-item-link {
  display: block;
  text-decoration: none;
  color: inherit;
}
.board-item:hover {
  background-color: var(--light-beige);
}
.board-item {
  border: 1px solid #FCF1F1;
  padding: 10px;
  margin: 10px 0;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}
.board-title {
  font-size: 20px;
  color: #000;
}

.board-summary {
  font-size: 16px;
  color: #666;
  margin-bottom: 10px;
}

.btn-outline {
  border: 2px solid #FFAD60;
  color: #FFAD60;
  padding: 8px 16px;
  text-align: center;
  display: inline-block;
  transition: all 0.3s ease;
}

.btn-outline:hover {
  background-color: #FFAD60;
  color: #ffffff;
}
.btn-custom-more {
  background-color: #E0C4C4;
  color: #FFFFFF;
  border: none;
  padding: 5px 15px;
  border-radius: 8px;
  margin-bottom: 10px;
  float: right; /* 우측 상단에 위치 */
}