<html>
<head>
    <title>Login Form</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" th:href="@{/css/userstyle.css}">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>

</head>
<body style="background-color: #FFD5CD">
<div class="container" >
    <div class="row px-3" >
        <div class="col-lg-10 col-xl-9 card flex-row mx-auto px-0">
            <div class="img-left d-none d-md-flex"></div>
            <div class="card-body" >
                <h1 class="title text-center mt-4">
                    welcome !
                </h1>
                <form class="form-box px-3" th:action="@{/user/login}" method="post">
                    <div class="form-input">
                        <input type="text" name="username" placeholder="ID" tabindex="10" required>
                    </div>
                    <div class="form-input">
                        <input type="password" name="password" placeholder="Password" required>
                    </div>

                    <div class="mb-3">
                        <input type="submit" class="btn btn-block text-uppercase" value= "로그인" style="background-color: #F9813A">
                    </div>

                    <hr class="my-4">
                    <div class="social-login">
                        <a th:href="@{/oauth2/authorization/google}">
                            <img th:src="@{/images/icon/google.png}" alt="Google Login" style = "height : 3rem">
                        </a>
                        <a th:href="@{/oauth2/authorization/facebook}">
                            <img th:src="@{/images/icon/facebook.png}" alt="Facebook Login" style = "height : 3rem">
                        </a>
                        <a th:href="@{/oauth2/authorization/kakao}">
                            <img th:src="@{/images/icon/kakotalk.png}" alt="Kakao Login" style = "height : 3rem">
                        </a>
                        <a th:href="@{/oauth2/authorization/naver}">
                            <img th:src="@{/images/icon/naver.png}" alt="Naver Login" style = "height : 3rem">
                        </a>
                    </div>
                    <hr class="my-4">

                    <div class="text-center mb-2">
                        아직 계정이 없으신가요?
                        <a href="/user/signup" class="register-link" style="color:#F9813A;">
                            JOIN with us!
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>