<html>
<head>
    <title>Signup</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" th:href="@{/css/userstyle.css}">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
</head>
<body style="background-color: #FFD5CD">
<div class="container" style="display: flex; justify-content: center; align-items: center;">
    <div class="row px-3" style="width:60%;" >
        <div class="col-lg-10 col-xl-9 card flex-row mx-auto px-0">
            <div class="card-body"  >
                <h1 class="title text-center mt-4">
                    JOIN US
                </h1>
                <form class="form-box px-3" th:action="@{/user/signup}" th:object="${userCreateForm}" method="post">
                    <div th:fragment="formErrorsFragment" class="alert alert-danger"
                         role="alert" th:if="${#fields.hasAnyErrors()}">
                        <div th:each="err : ${#fields.allErrors()}" th:text="${err}" />
                    </div>
                    <div class="form-input">
                        <input type="text" th:field="*{username}" placeholder="ID" tabindex="10" required>
                    </div>
                    <div class="form-input">
                        <input type="password" th:field="*{password1}" placeholder="Password" required>
                    </div>
                    <div class="form-input">
                        <input type="password" th:field="*{password2}" placeholder="Password check" required>
                    </div>
                    <div class="form-input">
                        <input type="email" th:field="*{email}" placeholder="email" required>
                    </div>

                    <div class="mb-3">
                        <input type="submit" class="btn btn-block text-uppercase" style="background-color: #F9813A" value="회원가입">
                        </input>
                    </div>
                    <!-- 구글 로그인 -->
                    <!-- 페이스북 로그인 -->
                    <!-- 카카오 로그인 -->
                    <div class="text-center">
                        <a href="https://kauth.kakao.com/oauth/authorize"
                           th:href="@{https://kauth.kakao.com/oauth/authorize(client_id=${kakaoApi.getKakaoApiKey()}, redirect_uri=${kakaoApi.getKakaoRedirectUrl()}, response_type='code')}">
                            <img src="/images/kakao_login_medium_wide.png">
                        </a>
                    </div>
                    <!-- 네이버 로그인 -->
                    <hr class="my-4">

                    <div class="text-center mb-2">
                        이미 계정이 있으신가요?
                        <a href="/user/login" class="register-link" style="color:#F9813A;">
                            Log in
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>